CLIENT_VERSION=1.0.0
HOST_PORT=8000

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_URI=mongodb://root:password@mongo:27017?authSource=admin

OLLAMA_MODEL=gemma4:31b-cloud
OLLAMA_BASE_URL=https://ollama.com
OLLAMA_API_KEY=<OLLAMA API KEY>

ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=password
ME_CONFIG_MONGODB_SERVER=mongo